h1{
    text-align: center;
}
.responsive{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img{
    border: 1px solid black;
    margin: 30px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    align-items: center;
    justify-content: center;
}
img{
    border-radius: 5px;
}